<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/nav.ejs') %>
    <div class="empty">
        <h1>There is nothing here</h1>
    </div>
<%- include('../includes/end.ejs') %>
