extends ./layout/main-layout.pug
block style     
    link(rel="stylesheet", href="/css/404.css")
    link(rel="stylesheet", href="/css/home.css")
//- new block 
block content
    div(style="display: flex; justify-content: center; align-items: center")
        h1 PAGE  NOT FOUND !!!