<%- include("../includes/head.ejs")%>
    <link rel="stylesheet" href="/font/font-awesome.min.css">
    <link rel="stylesheet" href="/css/Chat.css">
</head>
<body>
    <%- include("../includes/nav.ejs")%>
    <div class="container-fluid border border-3 border-dark-subtle bg-dark-subtle">
        <div class="row">
            <div class="col-lg-4 col-xl-4 border border-end-6 border-light-subtle">
                <div class="row mb-1">
                    <div class="col d-flex align-items-lg-center align-items-xl-center justify-content-center border-start border-muted border border-warning-subtle border-2" style="background: rgba(52,58,64,0.2);height: 4rem;"><button class="btn d-block d-sm-block d-md-block d-lg-none d-xl-none border-0 my-auto" type="button" style="width: 2.5rem;height: 2.5rem;"><i class="far fa-arrow-alt-circle-left"></i></button>
                        <h5 class="mr-auto my-auto">Welcome to SHOP CHAT</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="overflow-x: none;overflow-y: auto;max-height: 32.5rem;height: auto;">
                        <ul class="list-unstyled">
                            <li style="cursor:pointer;">
                                <div class="card border-0 mb-1">
                                    <div class="card-body bg-light-subtle border border-1 rounded-2 border-dark-subtle">
                                        <span class="text-nowrap text-truncate text-uppercase text-white float-end p-1 text-center" style="width: 2rem;height: 2rem;border-radius: 15px;background: #00db5f;">1</span>
                                        <h4 class="text-nowrap text-truncate card-title">Ximena Samano</h4>
                                        <h6 class="text-nowrap text-truncate text-muted card-subtitle mb-2" style="font-size: .7rem;">19 de Julio de 2021, 11:53 AM</h6>
                                        <h6 class="text-nowrap text-truncate text-muted card-subtitle mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse blandit sit amet dolor eu dignissim.</h6>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col d-none d-sm-none d-md-none d-lg-block d-xl-block">
                <div class="row mb-1" id="userinfo">
                    <div class="col d-flex justify-content-center align-items-lg-center align-items-xl-center border-start border-muted border border-warning-subtle border-2" style="background: rgba(52,58,64,0.2);height: 4rem;"><button class="btn d-block d-sm-block d-md-block d-lg-none d-xl-none border-0 my-auto" type="button" style="width: 2.5rem;height: 2.5rem;"><i class="far fa-arrow-alt-circle-left"></i></button>
                        <h5 class="mr-auto my-auto">Ximena Samano</h5><span class="my-auto"><i class="fa fa-user mx-2"></i></span>
                    </div>
                </div>
                <div class="row px-3 py-2 border-start border-muted" id="content">
                    <div class="col" id="scroll-bar" style="overflow-x: none;overflow-y: auto;max-height: 30.5rem;height: auto;">
                        <ul class="list-unstyled">
                            <li class="my-2">
                                <div class="card border border-muted bg-light-subtle" style="width: 65%;border-top-left-radius: 0px;border-top-right-radius: 20px;border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;">
                                    <div class="card-body text-center p-2">
                                        <p class="text-start card-text" style="font-size: 1rem;">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                        <h6 class="text-muted card-subtitle text-end" style="font-size: .75rem;">Julio 22, 2021. 12:33 P.M.</h6>
                                    </div>
                                </div>
                            </li>
                            <li class="my-2">
                                <div class="card border border-muted bg-light-subtle" style="width: 65%;border-top-left-radius: 0px;border-top-right-radius: 20px;border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;">
                                    <div class="card-body text-center p-2">
                                        <p class="text-start card-text" style="font-size: 1rem;">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                        <h6 class="text-muted card-subtitle text-end" style="font-size: .75rem;">Julio 22, 2021. 12:33 P.M.</h6>
                                    </div>
                                </div>
                            </li>
                            <li class="my-2">
                                <div class="card border border-muted bg-light-subtle" style="width: 65%;border-top-left-radius: 0px;border-top-right-radius: 20px;border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;">
                                    <div class="card-body text-center p-2">
                                        <p class="text-start card-text" style="font-size: 1rem;">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                        <h6 class="text-muted card-subtitle text-end" style="font-size: .75rem;">Julio 22, 2021. 12:33 P.M.</h6>
                                    </div>
                                </div>
                            </li>
                            <li class="d-flex justify-content-end my-2">
                                <div class="card border border-muted bg-light-subtle" style="width: 65%;border-top-left-radius: 20px;border-top-right-radius: 0px;border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;">
                                    <div class="card-body text-center p-2"><img class="img-fluid mb-2" src="/assets/img/333580.jpg" style="max-height: 30rem;height: auto;min-height: 10rem;">
                                        <p class="text-start card-text" style="font-size: 1rem;">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                        <h6 class="text-muted card-subtitle text-end" style="font-size: .75rem;">Julio 22, 2021. 12:33 P.M.</h6>
                                    </div>
                                </div>
                            </li>
                            <li class="d-flex justify-content-end my-2">
                                <div class="card border border-muted bg-light-subtle" style="width: 65%;border-top-left-radius: 20px;border-top-right-radius: 0px;border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;">
                                    <div class="card-body text-center p-2"><img class="img-fluid mb-2" src="/assets/img/333580.jpg" style="max-height: 30rem;height: auto;min-height: 10rem;">
                                        <p class="text-start card-text" style="font-size: 1rem;">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                        <h6 class="text-muted card-subtitle text-end" style="font-size: .75rem;">Julio 22, 2021. 12:33 P.M.</h6>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row px-3 py-2" id="inputsend">
                    <div class="col-9 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                        <input class="w-100 h-100 border border-3 rounded-3 px-3" style="resize: none;" type="text" placeholder="Type the message..." />
                    </div>
                    <div class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-2 text-nowrap d-md-flex justify-content-md-end p-0">
                        <button class="btn btn-outline-primary border border-3 border-dark-subtle rounded-3 w-auto" type="button">
                            <i class="fa fa-telegram fs-1"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/toolkit.min.js"></script>
<script src="/js/aos.min.js"></script>
<script src="/js/bs-init.js"></script>
<script src="/js/bold-and-bright.js"></script>
<script>
    // Function to set the height of the container
    function setHeight() {
        // Get the height of the window (screen height)
        var windowHeight = window.innerHeight;
        console.log(windowHeight);
        // Get the height of the nav element
        var navHeight = document.getElementsByTagName("nav")[0].offsetHeight;
        console.log(navHeight);
        // Calculate the remaining height for the container
        var containerHeight = windowHeight - navHeight;
        console.log(containerHeight);
        const inputHeight = document.getElementById("inputsend").offsetHeight;
        const userinfo = document.getElementById("userinfo").offsetHeight;
        document.getElementById("content").style.height = (containerHeight - inputHeight - userinfo - 7) + "px";
        // Set the height of the container element
        document.querySelector(".container-fluid").style.height = containerHeight + "px";
        document.getElementById("scroll-bar").style.height = (containerHeight - inputHeight - userinfo - 10) + "px";
    }

    // Call the function initially and add an event listener for window resize
    setHeight();
    window.addEventListener("resize", setHeight);
</script>
</body>
</html>
